numpy
pandas
matplotlib
scikit-learn==1.0
seaborn
optuna
gensim
transformers==2.11.0
fugashi
tqdm
mecab-python3
ipadic
seqeval==1.2.2
mlflow
attrdict
mojimoji==0.0.11
scipy==1.7.1
threadpoolctl==3.0.0
tensorboard==2.6.0
